.gpt3__cta {
    /* margin-top: 4rem */
    border: 1px solid white;
    background: var(--gradient-bar);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gpt3__cta__content {
    max-width: 700px;
    margin-right: 1rem;
}

.gpt3__cta__content p {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.gpt3__cta__content h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.gpt3__cta__btn button {
    background: #000000;
    border-radius: 40px;
    padding: 1rem;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    min-width: 160px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.gpt3__cta__btn button:hover {
    background: #000000cf;
}

@media screen and (max-width: 600px) {
    .gpt3__cta {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 1rem;
    }

    .gpt3__cta__content h3 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 1rem;
    }

    .gpt3__cta__btn button {
        border-radius: 40px;
        padding: 0.8rem 0.6rem;
        font-size: 14px;
        min-width: 120px;
        margin-left: -5px;
    }
}