.gradient_text {
    background-image: linear-gradient(60deg, #AE67FA, #F49867);
    background-clip: text;
    color: transparent;
}

.gpt3__features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.gpt3__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 4rem;
}

.gpt3__features-heading h1 {
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.gpt3__features-heading p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 1.5rem;
}

.gpt3__features-container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.gpt3__features-container>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 2.4rem;
}

.gpt3__features-container .gpt3__features-container__feature-title {
    max-width: 220px;
    margin-right: 3.5rem;
    flex: 1;
}

.gpt3__features-container .gpt3__features-container__feature-title h1 {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.gpt3__features-container .gpt3__features-container_feature-text {
    margin-top: 0;
    flex: 1.4;
}

.gpt3__features-container .gpt3__features-container_feature-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width:900px) {
    .gpt3__features {
        flex-direction: column;
    }

    .gpt3__features-container .gpt3__features-container__feature-title {
        min-width: 140px;
        margin-right: 1rem;

    }

    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 30px;
    }

    .gpt3__features-heading {
        max-width: 100%;
        margin-bottom: 2rem;
        margin-right: 2rem
    }
}

@media screen and (max-width:400px) {
    .gpt3__features-container>div {
        flex-direction: column;
    }

    .gpt3__features-container>div>.gpt3__features-container__feature-title {
        margin-bottom: 1rem;
    }

    .gpt3__features-container>div>.gpt3__features-container_feature-text {
        width: 100%;
        max-width: 100%;
    }

    .gpt3__features-heading {
        max-width: 100%;
        margin-bottom: 2rem;
        margin-right: 0rem
    }

    .gpt3__features-heading h1 {
        font-size: 22px;
        line-height: 28px;
    }
}